<div class="studio info">
  <div class="info-title">Included in your Studio</div>
  <div class="info-items">
    <div class="grid-item">
      <div>
        <img src="/img/deck.png" alt="">
      </div>
      <div>
        <h3>Decks</h3>
        <p>2x Pioneer CDJ 2000NXS2</p>
        <p>Pioneer DJM MIXER 900NXS2 4 Channel</p>
      </div>
    </div>

    <div class="grid-item">
      <div>
        <img src="/img/micro.png" alt="">
      </div>
      <div>
        <h3>Microphones</h3>
        <p>*Not included in Studio Hire - if essential please bring your own Mic and XLT cable **</p>
      </div>
    </div>

    <div class="grid-item">
      <div>
        <img src="/img/speaker.png" alt="">
      </div>
      <div>
        <h3>Speakers</h3>
        <p>2x Pioneer XPRS 10</p>
      </div>
    </div>
  </div>

  <div class="flex warning">
    <div>
      <img src="/img/warning.png" alt="">
    </div>
    <p>Although we do our best to keep equipment in rooms as listed, we sometimes need to replace broken equipment with
      different makes or models. Bookings can be subject to change based on equipment & estate faults.</p>
  </div>

  <div style="padding: 20px;">
    <h3 style="color: dodgerblue;">Not included</h3>
    <p>Although we try to keep a few essentials in our spares cupboard, availability can vary and cannot be guaranteed.
      If it’s essential to your session, bring it with you.</p>

    <mat-form-field appearance="outline" class="inputBox">
      <input matInput placeholder="What We Don’t Provide">
      <button mat-icon-button matSuffix><mat-icon>arrow_forward</mat-icon></button>
    </mat-form-field>
  </div>

</div>

<div class="features info">
  <div class="info-title">Features</div>
  <ul>
    <li>Air Conditioning</li>
  </ul>
</div>

<div class="need info">
  <div class="info-title">Need to know</div>
  <div class="info-content">
    <p>This RoomAC’s is not available. We’ve placed a fan until the issue gets sorted. </p>
    <p>Thank you for your patience.</p>
  </div>
</div>

<div class="location info">
  <div class="info-title">Location</div>
  <div class="info-content">
    <p>Address: </p>
    <p>Unit 9C, South Gyle Crescent, EH12 9EB</p>
    <a href="#">View in Google Maps</a>
  </div>
</div>

<div class="parking info">
  <div class="info-title">Parking</div>
  <div class="info-conttent">
    <p>There are five spaces available at the right-hand side of the studio entrance.</p>
  </div>
</div>